__pycache__/
*.py[cod]
*$py.class
media/
# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/
# Environments
.env
.venv
venv/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/