.site-footer{
    padding: 0rem;
    .footer-info {
        display: flex;
        justify-content: space-between;
        .f-socials {
            h5 {
                display: inline-block;
                font-weight: 350;
                text-align: center;
            }
        }
        .cpyr {
            h5 {
                text-align: justify;
                font-weight: 400;
            }
        }
    }
}
